[submodule "esprit"]
	path = esprit
	url = https://github.com/CottageLabs/esprit.git
[submodule "magnificent-octopus"]
	path = magnificent-octopus
	url = https://github.com/richard-jones/magnificent-octopus
[submodule "Simple-Sword-Server"]
	path = Simple-Sword-Server
	url = https://github.com/swordapp/Simple-Sword-Server.git
